.App {
    max-width: 800px;
    padding: 10px 20px;
    margin: auto;
}

.detail {
    display: flex;
}

.detail-col {
    width: 50%;
}

@media (max-width: 800px) {
    .detail {
        display: block;
    }

    .detail-col {
        width: auto;
    }
}
