.App {
    max-width: 800px;
    padding: 10px 20px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail {
    font-style: italic;
    color: grey;
}

.character-stats {
    display: flex;
}

.character-stats-col {
    width: 50%;
}

@media (max-width: 800px) {
    .header {
        display: block;
    }

    .character-stats {
        display: block;
    }

    .character-stats-col {
        width: auto;
    }
}
